<nav class="breadcrumb" [attr.aria-label]="ariaLabelKey() | translate">
  @for (item of items(); track $index) {
    @if ($index > 0) {
      <span class="breadcrumb__sep" aria-hidden="true">/</span>
    }
    @if (item.route) {
      <a [routerLink]="item.route" class="breadcrumb__link">
        @if (item.labelKey) {
          {{ item.labelKey | translate }}
        } @else if (item.label) {
          {{ item.label }}
        }
      </a>
    } @else {
      <span class="breadcrumb__current">
        @if (item.labelKey) {
          {{ item.labelKey | translate }}
        } @else if (item.label) {
          {{ item.label }}
        }
      </span>
    }
  }
</nav>
