<nav class="navbar">
  <a routerLink="/" class="brand"><i class="fa-solid fa-book-open"></i> 4SA Blog</a>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-house"></i> الرئيسية</a></li>
    <li><a routerLink="/posts" routerLinkActive="active"><i class="fa-solid fa-newspaper"></i> المقالات</a></li>
    <li><a routerLink="/categories" routerLinkActive="active"><i class="fa-solid fa-folder"></i> التصنيفات</a></li>
  </ul>
</nav>
